// Define variables for your color scheme
$blue: #B8B8FF;
$indigo: #9381FF;
$light-pink: #FFEEDD;
$pink: #FFD8BE;
$magenta: #92374D;
$white: #F8F7FF;


// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
