<h1>Angie DUHARD</h1>

<h3>Mes projets</h3>
<ul>
  <li>
    <a href="https://www.openairconnect.com">OpenAirConnect</a> (application web pensée pour mobiles)
    <%= link_to "Voir le Github", "https://github.com/AngieJW/OPENAIRCONNECT" %>
    </li>
  <li>
    Green Drive
  </li>
  <li>
    <%= link_to "Pages React recréées", react_path %></li>
</ul>
