<h2>Pages recréées entièrement avec React </h2>
<h6>suite à des tutoriels sur Youtube</h6>
<ul>
  <li>
    Tesla
    <%= link_to "Voir la front page", "https://tesla.angieduhard.com" %>
    <%= link_to "Voir le Github", "https://github.com/AngieJW/tesla-clone"   %>
  </li>

  </li>
  <li>GPT3
    <%= link_to "Voir la front page", "https://gpt3.angieduhard.com" %>
    <%= link_to "Voir le Github", "https://github.com/AngieJW/gpt3"   %></li>
</ul>
